<div class="bg-white rounded h-full w-full shadow-md overflow-hidden">
  <table mat-table [dataSource]="dataSource" class="w-full">
    @for (column of columns; track $index) {
    <ng-container [matColumnDef]="column.dotNotationPath">
      <th mat-header-cell *matHeaderCellDef class="w-auto">
        <div class="font-medium text-white tracking-wide"
          [ngClass]="{'flex justify-center items-center': column.type === 'action'}">
          {{ column.label }}
        </div>
      </th>

      <td mat-cell *matCellDef="let element">
        @if(!column?.type) {
        <span class="inline-block text-sm py-2">

          {{ (column.dotNotationPath | deepFind : element) }}
        </span>
        } @else {
        @switch(column.type) {
        @case ('productDisplay') {
        <span class="inline-block text-sm py-2">
          <p class="text-base font-medium">{{ ('sku' | deepFind : element)  }}</p>
          <p class="text-gray-500">{{ ('description' | deepFind : element) }}</p>
        </span>
        }
        @case('currency') {
        <span class="inline-block text-sm font-medium py-2">
          {{ "₱" }}{{ (column.dotNotationPath | deepFind : element | number) || 0 }}
        </span>
        }
        @case('number') {
        <span class="inline-block text-sm py-2">
          {{ (column.dotNotationPath | deepFind : element | number) || 0 }}
        </span>
        }
        @case('action') {
        <div class="flex justify-center  ">
          @for (action of column.actions; track action) {
          <button [matTooltip]="action.name" mat-icon-button (click)="actionEmitter.emit({element, action})">
            <mat-icon class="text-{{ action.color }}-500 cursor-pointer">
              {{ action.icon }}
            </mat-icon>
          </button>
          }
        </div>
        }
        }
        }

      </td>
    </ng-container>
    }
    <ng-container *matNoDataRow>
      <tr class="empty-row" *ngIf="!isTableLoading">
        <td>No data found</td>
      </tr>

      <tr class="empty-row" *ngIf="isTableLoading">
        <td>Loading...</td>
      </tr>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="!bg-gray-700"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="rowEmitter.emit(row)"
      class="hover:bg-gray-100 cursor-pointer"></tr>

  </table>
  <mat-paginator class="py-2 border-t-2 border-gray-200" [pageSizeOptions]="pageSizeOptions" [length]="page.length"
    [pageSize]="page.pageSize" (page)="pageEmitter.emit($event)" aria-label="Select page">
  </mat-paginator>
</div>
