<div class="flex w-auto gap-2">
  @if (['number' , 'percentage' , 'currency'].includes(column.type)) {
  <input
    *ngIf="element['__editOn' + rowIndex + '_' + colIndex]"
    [(ngModel)]="element['__value' + rowIndex + '_' + colIndex]"
    (keyup.enter)="
      updateCell(
        element,
        column,
        element['__value' + rowIndex + '_' + colIndex],
        rowIndex,
        colIndex
      )
    "
    class="border-2 rounded-lg border-gray-200 w-[4rem]"
    type="number"
  />
  } @else if (['string'].includes(column.type)) {
  <input
    *ngIf="element['__editOn' + rowIndex + '_' + colIndex]"
    [(ngModel)]="element['__value' + rowIndex + '_' + colIndex]"
    (keyup.enter)="
      updateCell(
        element,
        column,
        element['__value' + rowIndex + '_' + colIndex],
        rowIndex,
        colIndex
      )
    "
    class="border-2 rounded-lg border-gray-200 w-[8rem]"
  />
  }

  <mat-icon
    (click)="
      updateCell(
        element,
        column,
        element['__value' + rowIndex + '_' + colIndex],
        rowIndex,
        colIndex
      )
    "
    class="text-emerald-500 cursor-pointer"
  >
    check
  </mat-icon>
</div>
