@if(element['__editOn' + rowIndex + '_' + colIndex]){
<div class="flex w-full gap-2">
  @if(column.options && column.options.length) {
  <select
    [(ngModel)]="element['__value' + rowIndex + '_' + colIndex]"
    class="border-2 rounded-md border-gray-200 w-full"
  >
    @for(option of column.options; track $index){
    <option [value]="option">{{ option }}</option>
    }
  </select>
  }@else {
  <input
    [(ngModel)]="element['__value' + rowIndex + '_' + colIndex]"
    (keyup.enter)="
      updateCell(
        element,
        column,
        element['__value' + rowIndex + '_' + colIndex],
        rowIndex,
        colIndex
      )
    "
    class="border-2 rounded-md border-gray-200 w-full"
    [type]="type"
  />
  }

  <mat-icon
    (click)="
      updateCell(
        element,
        column,
        element['__value' + rowIndex + '_' + colIndex],
        rowIndex,
        colIndex
      )
    "
    class="text-emerald-500 cursor-pointer"
  >
    check
  </mat-icon>
</div>
}
