<div class="flex py-2 border-l-4 border-sky-500 text-sky-500 px-3 mb-4">
  <p>DISCOUNTS</p>
</div>
<app-table [hasPagination]="false" [columns]="columns" [dataSource]="discounts" [page]="page"
  (actionEmitter)="actionEventHandler($event)">
</app-table>
<div class="flex gap-4" [formGroup]="discountForm">
  <mat-form-field class="w-full" appearance="outline">
    <input formControlName="name" matInput type="text" placeholder="Name of Discount" />
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <input formControlName="value" matInput type="number" placeholder="Amount" />
  </mat-form-field>

  <button mat-flat-button color="primary" class="mat-button-lg w-[25rem]" [disabled]="!discountForm.valid"
    (click)="pushToList()">
    Add Discount
  </button>
</div>
