<h1 mat-dialog-title>Delivery Cancellation</h1>
<mat-dialog-content class="p-8">
  <p class="mt-4">Do you want to cancel this delivery?</p>
  <p class="text-sm mt-2 mb-1">The following items will be returned in stock</p>

  <div class="container max-h-[256px] overflow-y-scroll">
    <table class="w-full">
      <thead>
        <tr class="bg-gray-300 border-b border-gray-400 sticky top-0">
          @for(column of tableColumns; track column) {
          <th class="py-2 px-4 text-left font-medium">{{ column.label }}</th>
          }
        </tr>
      </thead>

      <tbody>
        @for(item of data.items; track item) {
        <tr class="border-b border-gray-200 even:bg-gray-50 odd:bg-gray-100 hover:bg-blue-200">
          @for(column of tableColumns; track column) {
          <td class="py-2 px-4">{{ (column.dotNotation | deepFind : item) || "" }}</td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="flex mt-4 items-center justify-between">
    <button mat-button color="warn" (click)="onDialogClose()">Cancel</button>
    <button mat-flat-button (click)="onDialogClose(true)">Confirm</button>
  </div>
</mat-dialog-content>
