<div class="relative w-full">
  <input [formControl]="fc"
    class="font-bold rounded-[15px] cursor-text bg-white w-full pl-5 pr-3 py-2 shadow-[3px_3px_6px_0_rgba(0,0,0,0.1)] transition duration-100 ease-in-out ring-1 ring-gray-400 hover:ring-blue-500 hover:ring-2 focus:ring-blue-500 focus:ring-2 outline-none"
    [type]="isPasswordVisible ? 'text' : 'password'" id="password" (keyup.enter)="enterPressed.emit()" />

  <button class="absolute right-3 mt-1 h-8 w-8 rounded-full outline-none"
    (click)="isPasswordVisible = !isPasswordVisible" matRipple>
    <i class="fa-solid text-gray-600" [ngClass]="{
          'fa-eye': isPasswordVisible,
          'fa-eye-slash': !isPasswordVisible
        }"></i>
  </button>
</div>
