<div class="relative w-full">
  @if(label) {
  <p class="font-medium text-sm">{{label}}</p>
  }
  <input [formControl]="fc"
    class="font-medium rounded-[5px] cursor-text bg-white w-full pl-5 pr-3 py-2 transition duration-100 ease-in-out ring-1 ring-gray-400 hover:ring-blue-500 hover:ring-2 focus:ring-blue-500 focus:ring-2 outline-none"
    [type]="isPasswordVisible ? 'text' : 'password'" id="password" (keyup.enter)="enterPressed.emit()" />

  <button class="absolute right-3 mt-1.5 h-8 w-8 rounded-full outline-none"
    (click)="isPasswordVisible = !isPasswordVisible" matRipple>

    @if(isPasswordVisible) {
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility_off" />
    } @else {
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility" />

    }
  </button>
</div>
