<p mat-dialog-title>Edit Customer</p>
<mat-dialog-content>
  <app-customer-form
    [_id]="data._id"
    (formEmitter)="formEventHandler($event)"
  ></app-customer-form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-full flex justify-between">
    <button mat-flat-button color="warn" mat-dialog-close="">Discard</button>
    <div class="flex">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item color="warn" (click)="deleteCustomer()">
          <mat-icon class="text-rose-500">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
      <button
        mat-flat-button
        color="primary"
        [disabled]="!customerForm.valid"
        cdkFocusInitial
        (click)="onSubmit()"
      >
        Save Changes
      </button>
    </div>
  </div>
</mat-dialog-actions>
