<div class="w-full flex px-8 py-2.5 rounded-bl-[10px] rounded-br-[10px] border border-fhsis-gray-1">
  <div class="flex mx-auto gap-5">
    <div class="flex gap-2.5 items-center">
      <p class="m-0 text-sm">Rows per page :</p>
      <div class="select-wrapper">
        <select class="select-page" [(ngModel)]="itemsPerPage" (ngModelChange)="onItemsPerPageChange($event)">
          <option *ngFor="let option of itemsPerPageOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>

    <div class="flex items-center gap-5">
      <span class=""> {{ getRange }} of {{ totalItems }} </span>

      <div class="flex items-center gap-2.5">
        <button class="flex justify-center items-center text-center" (click)="previousPage()" mat-icon-button
          matTooltip="Previous Page" [disabled]="currentPage === 1 || loading" [ngClass]="{
            'text-gray-200': currentPage === 1,
          }">
          <mat-icon>chevron_left</mat-icon>
        </button>

        <button class="flex justify-center items-center text-center" (click)="nextPage()" mat-icon-button
          matTooltip="Next Page" [disabled]="currentPage === totalPages || loading" [ngClass]="{
            'text-gray-200':currentPage === totalPages,
          }">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
