<div class="flex py-2 border-l-4 border-sky-500 text-sky-500 px-3 mb-4">
  <p>SIGNATORIES</p>
</div>
<app-table [hasPagination]="false" [columns]="columns" [dataSource]="listedSignatories" [page]="page"
  (actionEmitter)="actionEventHandler($event)" (updateCellEmitter)="updateSignatories($event)"></app-table>
<div class="flex gap-4">
  <mat-form-field class="w-full" appearance="outline">
    <input [formControl]="searchUserControl" matInput type="text" [matAutocomplete]="userAuto"
      placeholder="Find System User" />
    <mat-autocomplete autoActiveFirstOption #userAuto="matAutocomplete"
      (optionSelected)="pushToListedSignatories($event.option.value)">
      @for (option of filteredUsers | async; track option) {
      <mat-option [value]="option">{{ option.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
