<div class="m-4 flex flex-col gap-4">

  <div class="grid grid-cols-2">
    <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
    <ngx-skeleton-loader class="col-span-1  pr-2" [theme]="{height: '56px'}" />
    <ngx-skeleton-loader class="col-span-1 pl-2 " [theme]="{height: '56px'}" />
  </div>
  <div class="mt-6 flex justify-between items-center px-4 border-l-4 border-sky-500 h-[48px]">
    <h1 class="text-sky-500 text-base">PARTICULARS</h1>
  </div>

  <div>
    <div class="grid grid-cols-8 gap-4 mt-2">
      <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
    </div>
    <div class="grid grid-cols-8 gap-4 mt-2">
      <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
      <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
    </div>
    <div class="mt-6 flex justify-between items-center px-4 border-l-4 border-sky-500 h-[48px]">
      <h1 class="text-sky-500 text-base">DISTRIBUTION OF ACCOUNTS</h1>
    </div>

    <div>
      <div class="grid grid-cols-8 gap-4 mt-2">
        <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
      </div>
      <div class="grid grid-cols-8 gap-4 mt-2">
        <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-2" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
        <ngx-skeleton-loader class="col-span-1" [theme]="{height: '56px'}" />
      </div>
    </div>

    <div class="my-4 flex justify-between items-center px-4 border-l-4 border-sky-500 py-1 h-[48px]">
      <h1 class="text-sky-500 text-base">SIGNATORIES</h1>
    </div>
    <ngx-skeleton-loader count="3" [theme]="{height: '56px'}" />

  </div>
