<div class="flex py-2 border-l-4 border-sky-500 text-sky-500 px-3 mb-4">
  <p>PRODUCTS</p>
</div>
<app-table [hasPagination]="false" [columns]="columns" [dataSource]="products" [page]="page"
  (actionEmitter)="actionEventHandler($event)" (updateCellEmitter)="updateCellEventHandler($event)">
</app-table>
<div class="flex gap-4">
  <mat-form-field class="w-full" appearance="outline">
    <input [formControl]="searchControl" matInput type="text" placeholder="Search Product Here..."
      [matAutocomplete]="matAuto" />
    <mat-autocomplete autoActiveFirstOption #matAuto="matAutocomplete"
      (optionSelected)="pushToList($event.option.value)">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">
        {{ option.brand }} {{ option.model }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
