<p mat-dialog-title>Update User</p>
<mat-dialog-content>
  <form [formGroup]="userForm" class="grid grid-cols-2">
    <mat-form-field class="col-span-2">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Designation</mat-label>
      <input matInput type="text" formControlName="designation" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Role</mat-label>
      <mat-select formControlName="_roleId">
        <mat-select-trigger>{{ roleControlValue.name }}</mat-select-trigger>
        <!-- Todo: Create a select with search -->
        <!-- <div class="flex justify-center items-center ml-2 w-[calc(100%-1rem)] mb-2">
          <input type="text" placeholder="Search Role..." class="outline-none text-sm px-4 py-2 w-full rounded-sm">
        </div> -->
        @for(role of roles$ | async; track role) {
          <mat-option [value]="role">{{ role.name }}</mat-option>
          }
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="flex w-full items-center !justify-between">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="userForm.invalid || !userForm.dirty" (click)="onSubmit()">
    Update
  </button>
</mat-dialog-actions>
