<div class="flex gap-4">
  <div class="flex flex-col w-full gap-4 rounded-xl bg-white p-4">
    <div class="flex">
      <div class="flex grow">
        <mat-form-field appearance="outline" class="w-[32rem]">
          <input matInput placeholder="Search SKU | Brand | Model" [formControl]="searchText"
            (keyup.enter)="getProducts()" />
          <mat-icon matSuffix class="cursor-pointer" (click)="getProducts()" fontIcon="search" />
        </mat-form-field>

      </div>

      <div class="flex">
        <button mat-icon-button (click)="downloadAllStocks()" [disabled]="downloading"
          matTooltip="Download Serial Numbers">
          <mat-icon class="mr-2">
            {{ downloading ? "downloading" : "download" }}
          </mat-icon>
        </button>
        <button mat-icon-button (click)="downloadAllProducts()" [disabled]="downloading" matTooltip="Download Products">
          <mat-icon class="mr-2">
            {{ downloading ? "downloading" : "download_for_offline" }}
          </mat-icon>
        </button>
      </div>


    </div>
    <app-table [dataSource]="products" [columns]="columns" [page]="page" (rowEmitter)="rowEvent($event)"
      (pageEmitter)="pageEvent($event)"></app-table>
  </div>
