<div class="flex w-full text-gray-900">
  <div
    class="flex grow rounded{{ actions.length ? '-l' : '' }}-xl p-4 bg-white"
  >
    <mat-icon class="mr-3"> {{ icon }} </mat-icon>
    <p>{{ label }}</p>
  </div>

  <div class="flex">
    @for (action of actions; track action) {
      @if (action.type) {
        @if (action.type === "menu" && !!action.items?.length) {
          <button
            class="flex flex-none border-l-2 bg-white border-gray-200 p-4 last:rounded-r-xl last:pr-6 hover:drop-shadow-lg cursor-pointer"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon class="mr-2"> {{ action.icon }} </mat-icon>
            <p>{{ action.label }}</p>
          </button>
          <mat-menu #menu="matMenu">
            @for (item of action.items; track $index) {
              <button mat-menu-item (click)="actionEmitter.emit(item.id)">
                {{ item.name }}
              </button>
            }
          </mat-menu>
        }
      } @else {
        <button
          class="flex flex-none border-l-2 bg-white border-gray-200 p-4 last:rounded-r-xl last:pr-6 hover:drop-shadow-lg cursor-pointer"
          (click)="actionEmitter.emit(action.id)"
        >
          <mat-icon class="mr-2"> {{ action.icon }} </mat-icon>
          <p>{{ action.label }}</p>
        </button>
      }
    }
  </div>
</div>
