<div class="block bg-white rounded-3xl p-4">
  <h1 class="text-xl mb-4">Create a Delivery</h1>
  <div class="container">
    <div class="flex pb-6">
      <div class="flex flex-none w-[22rem]">
        <div class="w-full">
          <p class="font-black text-gray-900">Recipient</p>
          <small>
            This will be the receiver of the Delivery. If you can't find the
            customer, <a class="text-sky-500 cursor-pointer">add here</a>.
          </small>
        </div>
      </div>
      <div class="flex grow px-8">
        <div class="w-full">
          <p>MARCILIANO S. CHAVEZ III</p>
        </div>
      </div>
    </div>

    <div class="flex pb-6">
      <div class="flex flex-none w-[22rem]">
        <div class="w-full">
          <p class="font-black text-gray-900">Delivery Address</p>
          <small>
            This will be the receiver of the Delivery. If you can't find the
            customer, <a class="text-sky-500 cursor-pointer">add here</a>.
          </small>
        </div>
      </div>
      <div class="flex grow px-8">
        <div class="w-full">
          <p>#16 De Gloria St. Talanay B.</p>
          <p>Barangay Batasan Hills</p>
          <p>Quezon City</p>
          <p>Philippines</p>
        </div>
      </div>
    </div>

    <div class="flex pb-6">
      <div class="flex flex-none w-[22rem]">
        <div class="w-full">
          <p class="font-black text-gray-900">Billing Address</p>
          <small>
            This will be the receiver of the Delivery. If you can't find the
            customer, <a class="text-sky-500 cursor-pointer">add here</a>.
          </small>
        </div>
      </div>
      <div class="flex grow px-8">
        <div class="w-full">
          <p>#16 De Gloria St. Talanay B.</p>
          <p>Barangay Batasan Hills</p>
          <p>Quezon City</p>
          <p>Philippines</p>
        </div>
      </div>
    </div>

    <div class="flex pb-6">
      <div class="flex flex-none w-[22rem]">
        <div class="w-full">
          <p class="font-black text-gray-900">Products</p>
          <small> List of items to be received by the Customer. </small>
        </div>
      </div>
      <div class="flex grow px-8"></div>
    </div>
  </div>
</div>
