<div class="flex gap-4">
  <div class="bg-white rounded-3xl p-4 h-fit w-fit flex-none sticky top-16">
    <div class="flex">
      <button mat-icon-button class="w-full" [routerLink]="'../'">
        <mat-icon class="text-rose-500">arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex flex-col w-[70rem] gap-4">
    <div class="bg-white rounded-3xl p-4 text-gray-900 w-full">
      <section [formGroup]="deliveryForm">
        <div class="flex pb-4 pt-2 border-b-2 border-sky-400 px-4">
          <p class="text-sky-400 font-bold">Delivery Information</p>
        </div>
        <div class="flex mt-4">
          <div class="w-[15rem] flex-none p-4">Recipient Name</div>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="Type Customer Name..."
              [matAutocomplete]="customerAuto"
              formControlName="_customerId"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #customerAuto="matAutocomplete"
              (optionSelected)="autofillCustomerDetails($event.option.value)"
              [displayWith]="displayCustomer"
            >
              @for (option of filteredCustomers | async; track option) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="flex">
          <div class="w-[15rem] flex-none p-4">Contact No.</div>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              formControlName="mobile"
              placeholder="09XXXXXXXXX"
            />
          </mat-form-field>
        </div>
        <div class="flex">
          <div class="w-[15rem] flex-none p-4">Delivery Address</div>
          <mat-form-field class="w-full" appearance="outline">
            <textarea
              matInput
              rows="2"
              placeholder="Delivery Address"
              formControlName="address"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="flex">
          <div class="w-[15rem] flex-none p-4">Date of Delivery</div>
          <mat-form-field class="w-full" appearance="outline">
            <input
              matInput
              placeholder="MM/DD/YYYY"
              formControlName="deliveryDate"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="flex">
          <div class="w-[15rem] flex-none p-4">Remarks</div>
          <mat-form-field class="w-full" appearance="outline">
            <textarea rows="5" matInput formControlName="remarks"></textarea>
          </mat-form-field>
        </div>
      </section>
    </div>
    <div class="bg-white rounded-3xl p-4 text-gray-600 w-full">
      <section>
        <div class="flex pb-4 pt-2 border-b-2 border-sky-400 px-4">
          <p class="text-sky-400 font-bold">Listing of Items</p>
        </div>
        <app-table
          [columns]="listedItemsColumns"
          [dataSource]="listedItems"
          [page]="listedItemsPage"
          (actionEmitter)="actionEventHandler($event)"
        ></app-table>
        <div class="flex gap-4">
          <mat-form-field class="w-full" appearance="outline">
            <input
              id="serialNumber"
              [formControl]="serialNumberControl"
              matInput
              type="text"
              placeholder="Scan or Encode Item Barcode Here..."
              (keyup.enter)="searchSerialNumber()"
            />
            <mat-hint class="text-rose-400" *ngIf="errorMessage">
              {{ errorMessage }}
            </mat-hint>
          </mat-form-field>
          <button
            mat-flat-button
            class="mat-button-lg"
            (click)="searchSerialNumber()"
          >
            Search
          </button>
        </div>
      </section>
    </div>
    <div class="bg-white rounded-3xl p-4 text-gray-600 w-full">
      <section>
        <div class="flex pb-4 pt-2 border-b-2 border-sky-400 px-4">
          <p class="text-sky-400 font-bold">Signatories</p>
        </div>
        <app-table
          [columns]="listedItemsColumns"
          [dataSource]="listedSignatories"
          [page]="listedItemsPage"
          (actionEmitter)="actionEventHandler($event)"
        ></app-table>
        <div class="flex gap-4">
          <mat-form-field class="w-full" appearance="outline">
            <input
              [formControl]="signatoryControl"
              matInput
              type="text"
              placeholder="Seach User here..."
              [matAutocomplete]="userAuto"
            />
            <mat-autocomplete
              autoActiveFirstOption
              #userAuto="matAutocomplete"
              (optionSelected)="pushToListedSignatories($event.option.value)"
            >
              @for (option of filteredUsers | async; track option) {
              <mat-option [value]="option">{{ option.name }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </section>
    </div>

    <div class="bg-white rounded-3xl p-4 text-gray-600 w-full mb-[10rem]">
      <section>
        <div class="flex mb-1 py-2 justify-between gap-4">
          <button mat-stroked-button class="mat-button-lg" color="warn">
            Cancel Transaction
          </button>
          <button
            mat-flat-button
            class="mat-button-lg"
            color="primary"
            (click)="confirm()"
          >
            Create Delivery Receipt
          </button>
        </div>
      </section>
    </div>
  </div>
</div>
