<p mat-dialog-title>Add New Warehouse</p>
<mat-dialog-content>
  <form [formGroup]="warehouseForm" class="grid grid-cols-2">
    <mat-form-field class="col-span-2">
      <mat-label>Code</mat-label>
      <input matInput type="text" formControlName="code" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Mobile</mat-label>
      <input matInput type="text" formControlName="mobile" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Address</mat-label>
      <textarea matInput rows="5" formControlName="address"></textarea>
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Remarks</mat-label>
      <input matInput type="text" formControlName="remarks" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close="">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!warehouseForm.valid"
    cdkFocusInitial
    (click)="onSubmit()"
  >
    Add to Warehouse Table
  </button>
</mat-dialog-actions>
