<p mat-dialog-title>Edit</p>
<mat-dialog-content>
  <form [formGroup]="productForm" class="grid grid-cols-2">
    <mat-form-field class="col-span-2">
      <mat-label>SKU</mat-label>
      <input matInput type="text" formControlName="sku" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Brand</mat-label>
      <input matInput type="text" formControlName="brand" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Model</mat-label>
      <input matInput type="text" formControlName="model" />
    </mat-form-field>

    <mat-form-field class="col-span-2">
      <mat-label>Classification</mat-label>
      <input matInput type="text" formControlName="classification" />
    </mat-form-field>
    <mat-form-field class="col-span-2">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        rows="5"
        type="text"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <ng-container formGroupName="price">
      <mat-form-field class="col-span-2">
        <mat-label>SRP (PHP)</mat-label>
        <input matInput type="text" formControlName="amount" />
      </mat-form-field>
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close="">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!productForm.valid"
    cdkFocusInitial
    (click)="onSubmit()"
  >
    Edit to Product Table
  </button>
</mat-dialog-actions>
