<div class="flex flex-col overflow-y-auto gap-6">

  <div [formGroup]="userForm"
    class="grid grid-cols-12 gap-2 [&>[data-slot=form]]:h-[1rem] border-b-[1.5px] border-gray-200 pb-3">

    <div class="col-span-6">
      <p class="text-xs text-gray-500">Name</p>
      <mat-form-field data-slot="form" appearance="outline">
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>

    <div class="col-span-6">
      <p class="text-xs text-gray-500">Designation</p>
      <mat-form-field data-slot="form" appearance="outline">
        <input matInput type="text" formControlName="designation" />
      </mat-form-field>
    </div>

    <div class="col-span-6">
      <p class="text-xs text-gray-500">Email</p>
      <mat-form-field data-slot="form" appearance="outline">
        <input matInput type="text" formControlName="email" />
      </mat-form-field>
    </div>


    @if (userForm.dirty) {
    <div class="flex justify-between col-span-2">
      <button mat-button [disabled]="loading" color="warn" (click)="onResetForm()">Discard Changes</button>
      <button mat-flat-button [disabled]="loading" (click)="onSave()">Save</button>
    </div>
    }

  </div>


  <div class="flex justify-between">
    <h4 class="flex items-center text-gray-500 text-small">Change Password</h4>
    <button mat-stroked-button [disabled]="loading" (click)="onPasswordResetRequest()">Request</button>
  </div>

</div>
