<article class="bg-white rounded h-full w-full p-4 shadow-md">
  <h1 class="text-[1.55rem] font-medium font-gray-700">Products</h1>
  <div class="w-full border-b border-gray-200 mt-2 mb-4"></div>

  <section>
    <p class="text-lg font-medium">Categories</p>
    <div class="min-h-auto max-h-[20rem] overflow-y-scroll flex flex-col mt-2">
      <ul cdkListbox cdkListboxMultiple [(ngModel)]="selectedCategories">
        @for(classification of productClassifications; track classification) {
        <li [cdkOption]="classification" class="text-start example-option">{{ classification }}</li>
        }
      </ul>

    </div>
  </section>
  <div class="w-full border-b border-gray-200 mt-8 mb-4"></div>

  <section class="mt-6">
    <p class="text-lg font-medium">Sort By</p>
    <mat-form-field appearance="outline" class="w-full flex mt-2">
      <mat-select [(value)]="selectedSortBy" (selectionChange)="getTable()">
        <mat-select-trigger>{{selectedSortBy.label}}</mat-select-trigger>
        @for(option of sortByCategories; track option) {
        <mat-option [value]="option">{{ option.label }}<span *ngIf="option.tag">: {{option.tag}}</span></mat-option>
        }
      </mat-select>
      <div
        class="absolute top-[50%] translate-y-[-50%] right-[5%] bg-sky-100 border-2 border-sky-500 rounded-lg px-2 text-[12px] text-sky-600">
        {{selectedSortBy.tag}}</div>
    </mat-form-field>

  </section>

</article>
