<article class="bg-white rounded h-full px-6 py-4 shadow-md">
  <h1 class="text-[1.45rem] font-medium font-gray-700">Products</h1>
  <div class="w-full border-b border-gray-200 mt-2 mb-4"></div>

  <section>
    <p class="text-lg font-medium">Categories</p>

    <input type="text" placeholder="Search..." [formControl]="searchCategory"
      class="outline-none border border-gray-500 rounded-md px-3 py-2 my-1 w-full placeholder:text-gray-500 focus:border-sky-500 active:border-sky-500" />

    <div class="min-h-auto max-h-[20rem] overflow-y-scroll flex flex-col mt-2">
      <ul cdkListbox>
        @for(item of filteredCategories$ | async; track item) {
        <li class="example-option" [class.selected]="item.selected" (click)="classificationSelect(item)">
          {{ item.classification }}
        </li>
        }

        @if((filteredCategories$| async)?.length === 0 ) {
        <li class="text-center text-gray-400">No Category Found...</li>
        }
      </ul>
    </div>
  </section>
  <div class="w-full border-b border-gray-200 mt-8 mb-4"></div>

  <section class="mt-6">
    <p class="text-lg font-medium">Sort By</p>
    <mat-form-field appearance="outline" class="w-full flex mt-2">
      <mat-select [formControl]="selectedSortBy" (selectionChange)="sortSelect()">
        <mat-select-trigger>{{selectedSortBy.value?.label ?? ""}}</mat-select-trigger>
        @for(option of sortByCategories; track option) {
        <mat-option [value]="option">{{ option.label }}<span *ngIf="option.tag">: {{option.tag}}</span></mat-option>
        }
      </mat-select>
      <div
        class="absolute top-[50%] translate-y-[-50%] right-[5%] bg-sky-100 border-2 border-sky-500 rounded-lg px-2 text-[12px] text-sky-600">
        {{selectedSortBy.value?.tag ?? ""}}
      </div>
    </mat-form-field>

  </section>

</article>
