<div class="flex gap-4">
  <div class="flex flex-col h-fit w-fit gap-y-4 sticky top-16">
    <button
      class="outline-none bg-white rounded-xl hover:ring-2 hover:ring-blue-300 p-4 h-[54px] w-[54px] flex justify-center items-center cursor-pointer"
      (click)="navigateBack()"
      matTooltip="Back to Table"
      matTooltipPosition="right"
    >
      <mat-icon class="text-rose-500 inline-block" fontIcon="arrow_back" />
    </button>
    <button
      class="border border-gray-300 px-2 py-1.5 text-white hover:border-gray-500 active:bg-gray-500"
      (click)="logHistory()"
    >
      LOG HISTORY
    </button>
  </div>

  <section
    class="drop-list-group-boundary grid grid-cols-11 gap-4 w-full rounded-xl bg-white text-gray-900 p-4 grow"
    cdkDropListGroup
  >
    <div class="col-span-5">
      <app-stock-drop-list
        [fGroup]="formGroupA"
        [warehouseList]="warehouseListA$ | async"
        (onCheckedStocksChanged)="
          onEmitCheckedStocks($event, formGroupA.controls['checkedStocks'])
        "
        (onDropStock)="onEmitDropStock($event, formGroupB, formGroupA)"
      />
    </div>

    <div class="col-span-1 flex flex-col justify-center">
      <div class="flex flex-col justify-center items-center">
        <p class="font-medium text-xs mb-1.5">Move All</p>
        <mat-slide-toggle
          class="example-margin"
          [checked]="isBatchMove"
          (toggleChange)="isBatchMove = !isBatchMove"
          hideIcon
          disabled
        />
      </div>

      <div class="flex flex-col justify-center items-center mt-4 gap-1.5">
        <button
          class="group flex justify-center items-center border border-[transparent] rounded-full p-2 h-[3rem] w-[3rem] hover:text-sky-500 hover:border-gray-200 hover:shadow-lg active:bg-gray-200 transition-all duration-75 ease-in-out"
          (click)="transferStocks(formGroupA, formGroupB)"
          [disabled]="!shouldTransfer(formGroupA, formGroupB)"
          [ngClass]="{
            'pointer-events-none bg-gray-200 text-gray-300': !shouldTransfer(
              formGroupA,
              formGroupB
            ),
          }"
        >
          <mat-icon fontIcon="arrow_forward" />
        </button>

        <button
          class="group flex justify-center items-center border border-[transparent] rounded-full p-2 h-[3rem] w-[3rem] hover:text-sky-500 hover:border-gray-200 hover:shadow-lg active:bg-gray-200 transition-all duration-75 ease-in-out"
          (click)="transferStocks(formGroupB, formGroupA)"
          [disabled]="!shouldTransfer(formGroupB, formGroupA)"
          [ngClass]="{
            'pointer-events-none bg-gray-200 text-gray-300': !shouldTransfer(
              formGroupB,
              formGroupA
            ),
          }"
        >
          <mat-icon fontIcon="arrow_backward" />
        </button>
      </div>
    </div>

    <div class="col-span-5">
      <app-stock-drop-list
        [fGroup]="formGroupB"
        [warehouseList]="warehouseListB$ | async"
        (onCheckedStocksChanged)="
          onEmitCheckedStocks($event, formGroupB.controls['checkedStocks'])
        "
        (onDropStock)="onEmitDropStock($event, formGroupA, formGroupB)"
      />
    </div>

    <div class="col-span-11">
      <button
        mat-button
        [disabled]="!transferHistory.length"
        (click)="onResetClick()"
      >
        Reset
      </button>
      <button
        mat-flat-button
        [disabled]="!transferHistory.length"
        (click)="onResetClick()"
      >
        Save Changes
      </button>
    </div>
  </section>
</div>
