<div class="flex gap-4">
  <div class="flex flex-col h-fit w-fit gap-y-4 sticky top-16">
    <button
      class="outline-none bg-white rounded-xl hover:ring-2 hover:ring-blue-300 p-4 h-[54px] w-[54px] flex justify-center items-center cursor-pointer"
      (click)="navigateBack()"
      matTooltip="Back to Table"
      matTooltipPosition="right"
    >
      <mat-icon class="text-rose-500 inline-block" fontIcon="arrow_back" />
    </button>
  </div>

  <section
    class="drop-list-group-boundary grid grid-cols-2 gap-4 w-full rounded-xl bg-white text-gray-900 p-4 grow"
    cdkDropListGroup
  >
    <!-- From List -->
    <section></section>

    <!-- To List -->
    <section></section>
  </section>
</div>
