<h1 mat-dialog-title>Date Range Filter</h1>
<div mat-dialog-content class="flex items-center" [formGroup]="dateRange">
  <mat-form-field class="mr-2">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="startDate" formControlName="startDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="ml-2">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endDate" formControlName="endDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>

</div>
<div mat-dialog-actions class="!justify-between">
  <button mat-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [disabled]="dateRange.invalid || dateRange.pristine || !isEndGreaterThenStart"
    (click)="onSubmit()">Filter
    Date</button>
</div>
