<div class="grid grid-cols-2 gap-x-1">
  <div class="col-span-2">
    <ngx-skeleton-loader [theme]="{height: '48px', width: '100%'}" />
  </div>

  <div class="col-span-2">
    <ngx-skeleton-loader [theme]="{height: '48px', width: '100%'}" />
  </div>

  <div class="col-span-1">
    <ngx-skeleton-loader [theme]="{height: '48px', width: '250px'}" />
  </div>

  <div class="col-span-1">
    <ngx-skeleton-loader [theme]="{height: '48px', width: '250px'}" />
  </div>

  <div class="col-span-2">
    <ngx-skeleton-loader [theme]="{height: '56px'}" />
  </div>

  <div class="col-span-2">
    <ngx-skeleton-loader [theme]="{height: '56px'}" />
  </div>
</div>
