<div class="flex flex-col gap-4 rounded-xl bg-white p-4">
  <div class="flex">
    <div class="flex">
      <mat-form-field appearance="outline" class="w-[32rem]">
        <input
          matInput
          [placeholder]="placeholder"
          [formControl]="searchText"
          (keyup.enter)="search()"
        />
        <mat-icon matSuffix class="cursor-pointer" (click)="search()">
          search
        </mat-icon>
      </mat-form-field>
    </div>
    <div class="flex grow justify-between items-start ml-[24px]">
      <div class="flex gap-6">
        <mat-form-field appearance="outline">
          <mat-select
            [formControl]="poFilterControl"
            (selectionChange)="onFilterPOChange($event)"
          >
            @for (filter of poFilter; track $index) {
              <mat-option [value]="filter">{{ filter }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select
            [formControl]="poFilterControl"
            (selectionChange)="onFilterStatusChange($event)"
          >
            @for (status of tableFilterStatuses; track $index) {
              <mat-option [value]="status">{{ status }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <app-date-filter-input
          [initialValue]="selectedFilterDate"
          (dateFilterSelected)="onFilterDateChange($event)"
        />
      </div>
      <div>
        <button
          mat-icon-button
          (click)="getSoas()"
          [disabled]="downloading"
          matTooltip="Refresh Table"
        >
          <mat-icon class="mr-2 disabled:text-gray-300"> refresh </mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="exportTableExcel()"
          [disabled]="downloading"
          matTooltip="Download Table Excel"
        >
          <mat-icon class="mr-2 disabled:text-gray-300">
            {{ downloading ? "downloading" : "download_for_offline" }}
          </mat-icon>
        </button>
      </div>
    </div>
  </div>
  <app-table
    [dataSource]="soas"
    [columns]="columns"
    [page]="page"
    (pageEmitter)="pageEvent($event)"
    (actionEmitter)="actionEvent($event)"
  >
  </app-table>
</div>
