<p mat-dialog-title>
  NEW STOCK: <u>{{ data.name }}</u>
  <span
    class="text-xs float-right mt-2 font-light text-emerald-500 top-0"
    matTooltip="Barcode Listener Activated"
  >
    <mat-checkbox [(ngModel)]="allowDuplicates" (change)="focusToSerialNumber()"
      >Allow Duplicates</mat-checkbox
    >
  </span>
</p>
<mat-dialog-content>
  <div class="flex gap-2">
    <mat-card class="p-4 w-[20rem]" [formGroup]="stockDetailsForm">
      <mat-form-field class="w-full">
        <mat-label>Date Purchased</mat-label>
        <input
          matInput
          [matDatepicker]="purchasePicker"
          formControlName="purchaseDate"
          placeholder="MM/DD/YYYY"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="purchasePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #purchasePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Warehouse</mat-label>
        <input
          type="text"
          matInput
          formControlName="_warehouseId"
          [matAutocomplete]="warehouseAuto"
        />
        <mat-autocomplete
          #warehouseAuto="matAutocomplete"
          [displayWith]="displayFn"
        >
          @for (option of filteredWarehouses | async; track option) {
          <mat-option [value]="option._id">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Supplier</mat-label>
        <input
          type="text"
          matInput
          formControlName="_supplierId"
          [matAutocomplete]="supplierAuto"
        />
        <mat-autocomplete
          #supplierAuto="matAutocomplete"
          [displayWith]="displayFn"
        >
          @for (option of filteredSuppliers | async; track option) {
          <mat-option [value]="option._id">{{ option.name }}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Purchase Cost</mat-label>
        <input matInput type="number" formControlName="purchaseCost" />
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Remarks</mat-label>
        <textarea matInput rows="3" formControlName="remarks"></textarea>
      </mat-form-field>
    </mat-card>
    <mat-card class="p-4 grow">
      <div class="flex border-b-2 border-gray-200 py-2 mb-2">
        <div class="w-full px-4 font-black content-center">
          <p>Serial Number</p>
        </div>
        <div class="w-full px-4 font-black content-center">Unit Type</div>
        <div class="w-[12rem] flex-none px-4 font-black content-center">
          Date Scanned
        </div>
        <div class="w-[5rem] flex-none px-4 font-black content-center"></div>
      </div>
      <div class="h-[18rem] overflow-y-auto border-b-2 border-gray-200 pb-2">
        @for (stock of scannedStocks; track $index) {
        <div class="flex">
          <div class="w-full px-4 content-center">{{ stock.serialNumber }}</div>
          <div class="w-full px-4 content-center">{{ stock.type }}</div>
          <div class="w-[12rem] flex-none px-4 content-center">
            {{ stock.scanDate | date : "MM-dd-YY, hh:mm:ss" }}
          </div>
          <div class="w-[5rem] flex-none px-4 content-center">
            <mat-icon class="text-rose-500" (click)="removeStock($index)">
              remove
            </mat-icon>
          </div>
        </div>
        }
        <div class="p-4 text-center text-gray-400">-- end of list --</div>
      </div>

      <div
        class="absolute bottom-0 flex w-full gap-2 pr-8"
        [formGroup]="stockForm"
      >
        <mat-form-field class="w-full" appearance="outline">
          <input
            id="serialNumber"
            #serialNumber
            matInput
            placeholder="Serial No."
            formControlName="serialNumber"
            (keyup.enter)="addStock()"
            cdkFocusInitial
          />
          <mat-icon matSuffix>qr_code</mat-icon>
        </mat-form-field>
        <button
          mat-flat-button
          class="mat-button-lg"
          (click)="addStock()"
          [disabled]="!stockForm.valid"
        >
          Encode
        </button>
      </div>
    </mat-card>
    <mat-card
      class="p-4 w-full w-[15rem] flex flex-none justify-center text-center"
    >
      <h1
        class="text-[5rem] font-black mb-10 text-{{
          allowDuplicates ? 'rose' : 'emerald'
        }}-500"
      >
        {{ scannedStocks.length }}
      </h1>
      <p class="font-black text-{{ allowDuplicates ? 'rose' : 'emerald' }}-500">
        Total Count
      </p>
      <p class="text-rose-500 mt-6" *ngIf="allowDuplicates">
        <mat-icon>warning</mat-icon><br />
        <span><b>WARNING:</b> <br />DUPLICATE SERIAL NUMBER MIGHT EXIST</span>
      </p>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-full flex justify-between">
    <button mat-button color="warn" mat-dialog-close="">Cancel</button>

    <button
      mat-raised-button
      color="primary"
      cdkFocusInitial
      [disabled]="!scannedStocks.length || loading"
      (click)="stockToProduct()"
    >
      Stock to {{ data.name }}
    </button>
  </div>
</mat-dialog-actions>
