<p mat-dialog-title>ADD PAYMENT</p>
<mat-dialog-content>
  <form class="w-full gap-2" [formGroup]="transactionForm">
    <mat-form-field class="w-full">
      <mat-label>Payment Method</mat-label>
      <mat-select formControlName="paymentMethod">
        @for (item of paymentMethods; track $index) {
        <mat-option [value]="item"> {{ item }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Remarks</mat-label>
      <input matInput type="text" formControlName="remarks" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-full flex justify-between">
    <button mat-button color="warn" mat-dialog-close>Discard</button>
    <button
      mat-raised-button
      color="primary"
      (click)="submit()"
      [disabled]="!transactionForm.valid || submitting"
    >
      Add to Payment
    </button>
  </div>
</mat-dialog-actions>
