<header class="text-xl text-black text-center mt-3 mb-2">Forgot Password?</header>
<p class="text-sm text-gray-600 text-center">No worries. we'll send you reset instructions.</p>

<p class="font-medium text-sm mt-8">Email Address</p>
<mat-form-field appearance="outline" class="w-full">
  <input matInput placeholder="Enter your email here" [formControl]="emailControl" />
  @if (emailControl.hasError('required')) {
  <mat-error class="-ml-3.5">Email is required.</mat-error>
  }
  @if (emailControl.hasError('email')) {
  <mat-error class="-ml-3.5">Please use email format.</mat-error>
  }
</mat-form-field>

<div class="flex items-center justify-between mt-4">
  <button mat-button (click)="onLoginNavigate()" [disabled]="loading">Back to Login</button>
  <button mat-flat-button color="primary" [disabled]="emailControl.invalid || loading" (click)="onSubmit()">Reset
    Password</button>
</div>
