<h1 mat-dialog-title>{{ data.title }}</h1>
<mat-dialog-content>
  <div class="flex w-full h-full">
    <div class="w-full text-center border-2 border-dashed p-4" *ngIf="!pdfData">
      <p>
        <mat-icon>timer</mat-icon>
      </p>
      <p>Loading file resources...</p>
    </div>
  </div>
  <iframe
    id="pdfFrame"
    *ngIf="pdfData"
    [src]="pdfData"
    width="100%"
    height="500px"
    aria-label="pdf"
  ></iframe>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="w-full flex justify-between">
    <button mat-button color="warn" mat-dialog-close>Close</button>
    <button mat-flat-button (click)="print()" [disabled]="!pdfData">
      Print
    </button>
  </div>
</mat-dialog-actions>
