<div class="flex gap-4">
  <div class="flex flex-col w-full gap-4 rounded-xl bg-white p-4">
    <div class="flex grow">
      <mat-form-field appearance="outline" class="w-[32rem]">
        <input matInput placeholder="Search DR No or Customer Name" [formControl]="searchText"
          (keyup.enter)="getOutDeliverys()" />
        <mat-icon matSuffix class="cursor-pointer" (click)="getOutDeliverys()" fontIcon="search" />
      </mat-form-field>
    </div>

    <app-table [dataSource]="outdeliveries" [columns]="columns" [page]="page" (pageEmitter)="pageEvent($event)"
      (actionEmitter)="actionEvent($event)"></app-table>
  </div>
</div>
