<header class="px-4 py-4 mt-4 mx-4 flex justify-between items-center">
  <div class="flex">
    <div class="grow">
      <mat-form-field
        appearance="outline"
        class="w-[32rem]"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          placeholder="Search Warehouse"
          [formControl]="searchText"
          (keyup.enter)="getWarehouses()"
        />
        <mat-icon matSuffix class="cursor-pointer" (click)="getWarehouses()">
          search
        </mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="flex items-center gap-4">
    <div>
      <button mat-icon-button>
        <mat-icon class="mr-2"> refresh </mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mr-2"> download </mat-icon>
      </button>
    </div>

    <!-- Actions -->
    <div class="flex items-center ml-5">
      @for (actionBtn of actions; track actionBtn.id) {
        <button
          class="flex flex-none bg-white border border-gray-500 rounded-md p-4 cursor-pointer transition-all duration-50 ease-out hover:drop-shadow-md"
          (click)="actionEvent(actionBtn.id)"
        >
          <mat-icon class="mr-1.5"> {{ actionBtn.icon }} </mat-icon>
          <p>{{ actionBtn.label }}</p>
        </button>
      }
    </div>
  </div>
</header>
<div class="px-4">
  <div class="grid rounded-xl bg-white p-4">
    <app-table
      [dataSource]="warehouses"
      [columns]="columns"
      [page]="page"
      (rowEmitter)="openEditWarehouse($event._id)"
      (pageEmitter)="pageEvent($event)"
    ></app-table>
  </div>
</div>
