<p class="font-bold text-xl text-black text-center mb-3.5">Reset Password</p>
<form class="flex flex-col justify-center" [formGroup]="resetPasswordForm">
  <app-password-input [fc]="$any(resetPasswordForm).get('password')" />
  <div class="mt-3 mb-5">
    <ul class="flex flex-col divide gap-2">
      <li class="flex items-center gap-2" [ngClass]="{
          'text-green-600':
            !passwordFcErrors['required'] && !passwordFcErrors['minlength'],
          'text-red-500':
            !passwordFcErrors['required'] && passwordFcErrors['minlength'],
          'text-dark-gray': passwordFcErrors['required']
        }">
        <mat-icon fontIcon="check" class="validator-icon" />
        <span class="text-sm">8 characters minimum</span>
      </li>
      <li class="flex items-center gap-2" [ngClass]="{
          'text-green-600':
            !passwordFcErrors['required'] && !passwordFcErrors['one-number'],
          'text-red-500':
            !passwordFcErrors['required'] && passwordFcErrors['one-number'],
          'text-dark-gray': passwordFcErrors['required']
        }">
        <mat-icon fontIcon="check" class="validator-icon" />
        <span class="text-sm">must contain at least 1 number</span>
      </li>
      <li class="flex items-center gap-2" [ngClass]="{
          'text-green-600':
            !passwordFcErrors['required'] &&
            !passwordFcErrors['one-special-character'],
          'text-red-500':
            !passwordFcErrors['required'] &&
            passwordFcErrors['one-special-character'],
          'text-dark-gray': passwordFcErrors['required']
        }">
        <mat-icon fontIcon="check" class="validator-icon" />
        <span class="text-sm">must contain at least 1 special character</span>
      </li>
      <li class="flex items-center gap-2" [ngClass]="{
          'text-green-600':
            !passwordFcErrors['required'] &&
            !passwordFcErrors['one-upper-lower-case'],
          'text-red-500':
            !passwordFcErrors['required'] &&
            passwordFcErrors['one-upper-lower-case'],
          'text-dark-gray': passwordFcErrors['required']
        }">
        <mat-icon fontIcon="check" class="validator-icon" />
        <span class="text-sm">must contain at least 1 uppercase letter</span>
      </li>
    </ul>
  </div>
  <app-password-input [fc]="$any(resetPasswordForm).get('confirmPassword')" (enterPressed)="confirmPasswordClick()" />
  <div class="mt-3 mb-5">
    @if( resetPasswordForm.value.password !==
    resetPasswordForm.value.confirmPassword){
    <span class="text-sm text-red-500">Passwords aren't match</span>
    }
  </div>
</form>

<div class="flex flex-col sm:flex-row text-center sm:text-left mt-8">
  <button mat-button class="ml-auto" [disabled]="(isLoading$ | async) === true" (click)="onBackToLogin()">
    BACK TO LOGIN
  </button>
  <button mat-flat-button color="primary" [disabled]="
      resetPasswordForm.invalid ||
      resetPasswordForm.value.password !==
        resetPasswordForm.value.confirmPassword ||
      (isLoading$ | async) === true
    " (click)="confirmPasswordClick()">
    CONFIRM PASSWORD
  </button>

</div>
