  <div class="flex flex-col gap-4 rounded-xl bg-white p-4">
    <div class="flex">
      <mat-form-field appearance="outline" class="w-[32rem]">
        <input matInput [placeholder]="placeholder" [formControl]="searchText" (keyup.enter)="getVouchers()" />
        <mat-icon matSuffix class="cursor-pointer" (click)="getVouchers()">
          search
        </mat-icon>
      </mat-form-field>
      <div class="flex grow justify-between items-start ml-[24px]">

        <div class="flex gap-5">
          <mat-form-field appearance="outline">
            <mat-select [formControl]="statusControl" (selectionChange)="onFilterStatusChange($event)">
              @for(status of tableFilterStatuses; track status) {
              <mat-option [value]="status">{{ status }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <button
            class="box-border h-[56px] min-w-[164px] rounded ring-1 ring-inset ring-gray-500 hover:ring-black pl-4 pr-2 active:ring-blue-800"
            [matMenuTriggerFor]="dateFilterMenu">
            <p class="text-gray-700 inline-flex justify-between items-center truncate">Date: {{filterDateDisplay}}<span
                class="inline-flex justify-between items-center ml-2">
                <mat-icon>arrow_drop_down</mat-icon>
              </span></p>
          </button>
          <mat-menu #dateFilterMenu="matMenu">
            <div class="min-w-[144px]">
              <button mat-menu-item (click)="onFilterDateChange($any('all-time'))">
                <span>All-Time</span>
              </button>
              <button mat-menu-item (click)="onFilterDateChange($any('this-week'))">
                <span>This Week</span>
              </button>
              <button mat-menu-item (click)="onFilterDateChange($any('this-month'))">
                <span>This Month</span>
              </button>
              <button mat-menu-item (click)="onFilterDateChange($any('this-year'))">
                <span>This Year</span>
              </button>
              <button mat-menu-item (click)="onFilterDateChange($any('date-range'))">
                <span>Date Range</span>
              </button>
            </div>
          </mat-menu>
        </div>

        <div>
          <button mat-icon-button (click)="getVouchers()" [disabled]="isLoading === true" matTooltip="Refresh Table">
            <mat-icon class="mr-2  disabled:text-gray-300"> refresh </mat-icon>
          </button>
          <button mat-icon-button (click)="exportTableExcel()" [disabled]="isLoading === true"
            matTooltip="Download Table Excel">
            <mat-icon class="mr-2 disabled:text-gray-300">
              {{ isLoading ? "downloading" : "download_for_offline" }}
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <app-table [dataSource]="vouchers" [columns]="columns" [page]="page" (actionEmitter)="actionEvent($event)"
      (pageEmitter)="pageEvent($event)">
    </app-table>
  </div>
