/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// custom snackbars

.showtec-snackbar {
  --mdc-snackbar-container-color: rgb(255, 255, 255);
}

.mdc-snackbar__label {
  padding: 0 !important;
  background-color: rgb(255, 255, 255);
}

.mat-mdc-snackbar-surface {
  padding: 0 !important;
}

// custom table

.mat-mdc-table {
  background-color: transparent !important;
}

// custom form field

.mdc-text-field--outlined {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  --mdc-outlined-text-field-container-shape: 1.5rem !important;
  .mat-mdc-icon-button {
    margin-right: 0.75rem !important;
  }

  .mat-mdc-form-field-icon-suffix {
    margin-right: 0.75rem !important;
    cursor: pointer;
  }
}

.mdc-text-field--filled {
  // --mdc-outlined-text-field-container-shape: 1.5rem !important;
  background-color: rgb(250, 250, 250) !important;
}

// custom paginator {

.mat-mdc-paginator {
  background-color: transparent !important;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

// custom card {

.mat-mdc-card {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px rgb(197, 197, 197) solid !important;
}

// custom button {

.mat-button-lg {
  padding-top: 1.7rem !important;
  padding-bottom: 1.7rem !important;
  font-size: large !important;
}
