<p mat-dialog-title>Add New Customer</p>
<mat-dialog-content>
  <app-customer-form
    (formEmitter)="formEventHandler($event)"
  ></app-customer-form>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="w-full flex justify-between">
    <button mat-button color="warn" mat-dialog-close="">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!customerForm.valid"
      cdkFocusInitial
      (click)="onSubmit()"
    >
      Add to Customer Table
    </button>
  </div>
</mat-dialog-actions>
