<h1 mat-dialog-title>Select Quantity to Transfer</h1>
<section mat-dialog-content>
  <p class="text-md">
    Transferring stocks from
    <span class="font-medium text-sky-500">{{
      data["sourceWarehouse"].name
    }}</span>
    to
    <span class="font-medium text-sky-500">{{
      data["destinationWarehouse"].name
    }}</span>
  </p>

  <div
    class="mt-2.5 bg-gray-200 rounded border border-gray-300 min-h-[35vh] max-h-[35vh] p-2.5 flex flex-col gap-1.5"
  >
    @for (formGroup of $any(form).get("stocks").controls; track formGroup) {
      <article
        class="grid grid-cols-12 bg-white rounded border border-gray-400 p-2.5"
        *ngIf="{ props: data['stocks'][$index] } as stock"
      >
        <section class="col-span-10 flex flex-col ml-2.5">
          <p
            class="inline-flex items-center font-medium text-black tracking-wide max-w-3/4"
          >
            {{ stock.props.sku }}
            <span
              class="text-xs font-normal text-center px-2 py-1 bg-sky-100 border border-sky-500 rounded-full text-sky-700 ml-1.5"
            >
              {{ stock.props.type }}
            </span>
          </p>
          <p class="text-sm text-gray-500">
            {{ stock.props.serialNumber }}
          </p>
        </section>

        <section
          class="col-span-2 self-center flex items-center w-full gap-1.5"
        >
          <button
            class="flex justify-center items-center rounded-md h-[2rem] w-[2rem] p-1.5 border border-gray-400 hover:border-gray-500 active:bg-gray-200"
            (click)="
              addMinusStock(
                'minus',
                $any(form).controls['stocks'].controls[$index].get('quantity'),
                $index
              )
            "
          >
            <mat-icon
              class="!flex justify-center items-center font-medium text-sm"
              fontIcon="remove"
            ></mat-icon>
          </button>
          <input
            [formControl]="
              $any(form).controls['stocks'].controls[$index].get('quantity')
            "
            #quantity
            (keydown)="restrictNumericInput($event)"
            class="min-w-[3rem] w-[3rem] h-[2rem] border border-gray-600 rounded pl-1.5 py-1"
            type="text"
          /><button
            class="flex justify-center items-center rounded-md h-[2rem] w-[2rem] p-1.5 border border-gray-400 hover:border-gray-500 active:bg-gray-200"
            (click)="
              addMinusStock(
                'add',
                $any(form).controls['stocks'].controls[$index].get('quantity'),
                $index
              )
            "
          >
            <mat-icon
              class="!flex justify-center items-center font-medium text-sm"
              fontIcon="add"
            ></mat-icon>
          </button>
          <p class="ml-2.5">/ {{ data["stocks"][$index].quantity }}</p>
        </section>
      </article>
    }
  </div>
</section>
<footer mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Close</button>
  <button mat-flat-button [disabled]="form.invalid" (click)="onConfirm()">
    Confirm
  </button>
</footer>
